@import "../node_modules/mini.css/dist/mini-dark.min.css";

html {
    --background-color: #232329;
    --background-hover: #2c2c31;
    --small: #999;
}

.margin-top {
    margin-top: 32px;
}

.icon-star {
    background: url("./assets/star.svg") no-repeat;
}

.icon-star.active {
    background: url("./assets/star-active.svg") no-repeat;
}

.icon-star.large {
    width: 24px;
    height: 24px;
}
