/* You can add global styles to this file, and also import other style files */
@import "../node_modules/mini.css/dist/mini-dark.min.css";

.icon-star {
    background: url("./assets/star.svg") no-repeat;
}

.icon-star.large {
    width: 24px;
    height: 24px;
}
