h2 {
    cursor: pointer;
}

.job-item {
    display: flex;
    align-items: center;
    width: calc(100% - 48px);
    padding: 24px;
    gap: 24px;
    background-color: var(--background-color);
    border-radius: 12px;
}

.job-item:hover {
    background-color: var(--background-hover);
}

.job-logo {
    height: 80px;
    width: 80px;
}

.job-logo img {
    border-radius: 8px;
}

.job-reference {
    display: flex;
    width: 100%;
    gap: 24px;
}

.job-reference span {
    color: var(--small);
}

.job-favorite {
    margin-left: auto;
}
